
<h1> Here is your list </h1>
<table aline="center" style="width:50%">
	<tr>
		<th>Miles</th>
		<th>KM</th>
		<th>Location</th>
		<th>Open Time</th>
		<th>Close Time</th>
		<th>Notes</th>
	</tr>
	{% for item in items %}
  	<tr>
  		<td>{{ item.miles }}</td>
  		<td>{{ item.km }}</td>
  		<td>{{ item.loc }}</td>
  		<td>{{ item.open_t }}</td>
  		<td>{{ item.close_t }}</td>
  		<td>{{ item.notes }}</td>
  	</tr>
	{% endfor %}
